body {
  background: black;
}
.dimensions {
  color: white;
  font-size: 50px;
  position: absolute;
}
.dimensions.width {
  top: 1120px;
  left: 1365px;
}
.dimensions.height {
  top: 540px;
  left: 300px;
}

.instructions {
  top: 1420px;
  left: 1365px;
}

.interface-container {
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  transition: all 0.2s ease-in-out;
  background: -webkit-radial-gradient(top left, ellipse cover, #013eaa 0%, #00208c 100%);
}
.interface-container .menus-container {
  transition: transform 0.3s ease-in-out;
  transform: translate(0, 0);
}
.interface-container .menus-container.navbar-focused {
  transform: translate(0, 730px);
}
.interface-container .menus-container.navbar-focused .content-launcher-container {
  margin-top: 100px;
}
.interface-container .menus-container.navbar-focused .nav-icons-container {
  opacity: 1;
  white-space: nowrap;
}
.interface-container .menus-container.navbar-focused .nav-icons-container ul li.nav-content-container {
  margin-right: 89px;
}
.interface-container .menus-container.actual-content-focused {
  transform: translate(0, -500px);
}
.interface-container .navbar {
  position: relative;
  width: 1900px;
  opacity: 1;
  margin: 10px;
  height: 100px;
  background: rgba(0,0,0,0.4);
}
.interface-container .navbar .nav-icons-container {
  position: relative;
  opacity: 0;
  margin: 5px;
  width: 1900px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}
.interface-container .navbar .nav-icons-container ul {
  padding: 10px;
}
.interface-container .navbar .nav-icons-container ul li.nav-content-container {
  vertical-align: top;
  transition: all 0.2s ease-in-out;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  margin: 3px 10px 0 0px;
  top: 0;
  width: 70px;
  height: 73px;
  background: transparent;
}
.interface-container .navbar .nav-icons-container ul li.nav-content-container:focus {
  width: 73px;
  height: 73px;
  padding: 4px;
  outline: 3px solid white;
}
.interface-container .navbar .nav-icons-container ul li.nav-content-container:focus .content-object {
  width: 73px;
  height: 73px;
  font-size: 70px;
  line-height: 1.05;
}
.interface-container .navbar .nav-icons-container ul li.nav-content-container .content-object {
  transition: all 0.2s ease-in-out;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 1.3;
  font-size: 54px;
  background: cornflowerblue;
}
.interface-container .content-launcher-container {
  position: relative;
  margin: 10px;
  width: 5000px;
  height: 300px;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.4);
  transform: translate3d(0, 0, 0);
}
.interface-container .content-launcher-container ul {
  padding: 3px;
}
.interface-container .content-launcher-container ul li.content-container {
  vertical-align: top;
  transition: all 0.2s ease-in-out;
  position: relative;
  display: inline-block;
  outline: 0;
  top: 0;
  margin: 10px;
  width: 120px;
  height: 120px;
  background: transparent;
}
.interface-container .content-launcher-container ul li.content-container:focus {
  width: 220px;
  height: 260px;
  padding: 4px;
  outline: 5px solid white;
}
.interface-container .content-launcher-container ul li.content-container:focus .content-object {
  width: 220px;
  height: 220px;
  line-height: 1.5;
  font-size: 150px;
}
.interface-container .content-launcher-container ul li.content-container .content-object {
  transition: all 0.2s ease-in-out;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 1.5;
  font-size: 80px;
  background: aqua;
}
.interface-container .actual-content-section {
  position: relative;
  margin: 10px;
  width: 1900px;
  height: 1060px;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  opacity: 0.4;
  transform: translate(0, 455px);
}
.interface-container .actual-content-section.actual-content-focused {
  opacity: 1;
  transform: translate(0, -444px);
}
.interface-container .actual-content-section.navbar-focused {
  opacity: 0;
}
.interface-container .actual-content-section ul {
  padding: 3px;
}
.interface-container .actual-content-section ul li.actual-content-container {
  vertical-align: top;
  transition: all 0.2s ease-in-out;
  position: relative;
  display: inline-block;
  top: 200px;
  left: 140px;
  outline: 1px solid;
  margin: 10px;
  width: 700px;
  height: 580px;
  background: transparent;
}
.interface-container .actual-content-section ul li.actual-content-container .actual-content-object {
  transition: all 0.2s ease-in-out;
  width: 920px;
  height: 820px;
  margin-top: 200px;
  background: aqua;
}
.interface-container .actual-content-section ul li.actual-content-container:focus {
  outline: 5px solid white;
}
